<div class="container mt-4">    
  <h2 class="mb-4 border-bottom border-3 border-danger">Cadastrar Receita</h2>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="dataEntrada" class="form-label">Data de Entrada</label>
        <input id="dataEntrada" type="date" class="form-control" formControlName="dataEntrada" />
      </div>
      
      <div class="col-md-6 mb-3">
        <label for="valor" class="form-label">Valor</label>
        <input id="valor" type="text" class="form-control" formControlName="valor" mask="separator.2" prefix="R$ " />
      </div>

        <div class="col-md-6 mb-3">
        <label for="categoriaReceita" class="form-label">Categoria</label>
        <select id="categoriaReceita" class="form-select" formControlName="categoria">
                    <option [ngValue]="null" disabled selected>Selecione uma Categoria</option>
                    <option *ngFor="let categoria of listaCategorias" [ngValue]="categoria">{{ categoria.descricao }}</option>
                </select>
            </div>

         <div class="col-md-6 mb-3">
        <label for="usuarioReceita" class="form-label">Usuário</label>
        <select id="usuarioReceita" class="form-select" formControlName="usuario">
                    <option [ngValue]="null" disabled selected>Selecione um Usuário</option>
                    <option *ngFor="let usuario of listaUsuarios" [ngValue]="usuario">{{ usuario.nome }}</option>
                </select>
            </div>
    </div>

    <div class="d-flex justify-content-between">
      <a routerLink="/receitas" class="btn btn-secondary">
        Cancelar
      </a>
      <button type="submit" class="btn btn-success" [disabled]="formGroup.invalid">
        Salvar
      </button>
    </div>

  </form>
</div>